<div ng-cloak ng-controller="TodoController">
  <div class="container">
    <div>Amount of articles: {{ amountOfArticles.length }}</div>
    <div ng-if="listOfArticles.length">
      <div class="container" ng-repeat="todo in listOfArticles | orderBy:sortTodosByDate | orderBy:sortTodosByName ">
        <div class="checkbox border p-2">
            <span ng-click="editTask($index)">{{ todo.title }}</span>
        </div>
      </div>
    </div>
    <ul ng-if="pager.pages.length" class="pagination">
        <li ng-class="{disabled:pager.currentPage === 1}">
            <a ng-click="setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === 1}">
            <a ng-click="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
            <a ng-click="setPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
            <a ng-click="setPage(pager.totalPages)">Last</a>
        </li>
    </ul>
  </div>
</div>
